@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html{
  height: 100%;
}

.left {
  flex: 0 0 25%;
}

.right {
  flex: 0 0 75%; 
}